*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #f8f9ff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background: #ffffff;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #5b45bd;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.nav-links a:hover{
    color: #5b45bd;
}
.hero{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    position: relative;
    overflow: hidden;
}
.hero-content{
    width: 50%;
}
.hero-content h1{
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #222;
}
.hero-content h1 span{
    color: #5b45bd;
}
.hero-content p{
    color: #666;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.7;
}
.btn{
    display: inline-block;
    background-color: #5b45bd;
    padding: 14px 28px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}
.btn:hover{
    background-color: #4235b5;
}
.hero-image{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image img{
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.circle{
    background-color: #ddd8ff;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    right: -60px;
    top: 80px;
    z-index: -1;
}
.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 8%;
    background-color: white;
}
.feature{
    width: 250px;
    text-align: center;
}
.feature h3{
    font-size: 20px;
    margin-bottom: 10px;
    color: #5b45bd;
}
.feature p{
    color: #666;
    line-height: 1.5;
}

@media (max-width:768px){
    .nav-links{
        gap: 15px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-content,
    .hero-image{
        width: 100%;
    }
    .hero-image{
        margin: 40px;
    }
    .hero-content h1{
        font-size: 40px;
    }
    .features{
        flex-direction: column;
        align-items: center;;
    }
}